body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
    font-weight: bolder;
    color: darksalmon;
}

h2 {
    color: cadetblue;
    font-weight: bold;
    font-variant: small-caps;
}

h5 {
    text-align: center;
    font-weight: lighter;
    color: cadetblue;
}

.bandpic {
    width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}